<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Mybatis1/src/me/gacl/test/Test_TableUser.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="me.gacl.test.Test_TableUser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Mybatis1"/>
</launchConfiguration>
